$bg: #a19d9d;
$bg-header: black;
$primary-color: black;
$secondary-color: red;
$primary-gradient: #1fb3ed;
$secondary-gradient: #7adbec;
$title-color: darkblue;
$size-360-420px:#dc143c;
$title-header-color: lightskyblue;
$bg-text-header-360-420px: white;
